// Primary
$COLOR_TOMATO: hsl(4, 100%, 67%);

// Neutral
$COLOR_DARK_SLATE_GREY: hsl(234, 29%, 20%);
$COLOR_CHARCOAL_GREY: hsl(235, 18%, 26%);
$COLOR_GREY: hsl(231, 7%, 60%);
$COLOR_WHITE: hsl(0, 0%, 100%);
